
:root {
  --duration: 1s; 
}

/* Default keyframes */
@keyframes marquee {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.paused {
  animation-play-state: paused !important;
}

/* Media query for screen sizes less than md */
@media (max-width: 768px) {
  .animate-marquee {
    animation: marquee-sm var(--duration) linear infinite;
  }
}

@keyframes marquee-sm {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
