@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
  animation-fill-mode: both;
}

.paused {
  animation-play-state: paused !important;
}

/* Media query for screen sizes less than md */
@media (max-width: 768px) {
  .animate-marquee {
    animation: marquee-sm var(--duration) linear infinite;
    animation-fill-mode: both;
  }
}

@keyframes marquee-sm {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
