
.carousel {
    display: flex;
}
:root {
    --color-background: black;
    --stroke-width: calc(1em / 16);
    --font-size: 30vmin;
    --font-weight: 700;
    --letter-spacing:0.05em;
    
  }
h1 {
    background-clip: text;
    background-image: linear-gradient(to right, #A79FFF, #A79FFF);
    color: var(--color-background);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    padding: calc(--stroke-width / 2);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: var(--stroke-width);
  }

  .outerdiv {
    background-image: url('/image1.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}