@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(https://db.onlinewebfonts.com/c/91d3afe918937141b6ae8e43b1005bc8?family=Sharp+Grotesk+Book+25+Regular);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* for paragraphs  */
.poppins {
	font-family: "Poppins", sans-serif;
}

/* for marque and card titles  */
.antonio {
	font-family: "Antonio", sans-serif;
}

/* for main Headings  */
.grotesk {
	font-family: "Sharp Grotesk Book 25 Regular";
}
@media only screen and (max-width: 1162px) {
	.display {
			display: flex;
			flex-wrap: wrap;
			gap: 80px;
			justify-content: center;
		}
}

@media only screen and (min-width: 1162px) {
	.display{
		display: flex;
			flex-wrap: wrap;
			gap: 208px;
			justify-content: center;
	}
}