@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(https://db.onlinewebfonts.com/c/91d3afe918937141b6ae8e43b1005bc8?family=Sharp+Grotesk+Book+25+Regular);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* for paragraphs  */
.poppins {
	font-family: "Poppins", sans-serif;
}

/* for marque and card titles  */
.antonio {
	font-family: "Antonio", sans-serif;
}

/* for main Headings  */
.grotesk {
	font-family: "Sharp Grotesk Book 25 Regular";
}

/* Custom text selection styles */
::selection {
	background-color: rgba(138, 17, 1, 1); 
	color: #ffffff; 
  }
  
  /* For Mozilla Firefox */
  ::-moz-selection {
	background-color: rgba(64, 64, 64, 0.8);
	color: #ffffff;
  }


@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(-360deg);
	  -o-transform: rotate(-360deg);
	  transform: rotate(-360deg);
	}
  }
  @keyframes rotating {
	from {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -ms-transform: rotate(-360deg);
	  -moz-transform: rotate(-360deg);
	  -webkit-transform: rotate(-360deg);
	  -o-transform: rotate(-360deg);
	  transform: rotate(-360deg);
	}
  }
  .rotating {
	-webkit-animation: rotating 112s linear infinite;
	-moz-animation: rotating 112s linear infinite;
	-ms-animation: rotating 112s linear infinite;
	-o-animation: rotating 112s linear infinite;
	animation: rotating 112s linear infinite;
  }


  @font-face {
    font-family: RoobertBold;
	font-weight: bold;
    src: url("../fonts/Roobert-Bold.otf") format("opentype");
	}

	.roobert-bold {
		font-family: RoobertBold;
	}